<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sim.forum.mapper.CommentMapper">

    <select id="getCommentsWithRatingCondition">
        SELECT
            c.*,
            u.name AS creatorName,
            u.avatar AS creatorAvatar,
            r.type AS commentRatingType
        FROM comments c
             LEFT JOIN users u ON c.creator = u.id
             LEFT JOIN ratings r ON c.id = r.target_id
                AND r.target = 'COMMENT'
                AND r.creator = #{userId}
        WHERE
          -- 核心逻辑：只要 rootId 是这个帖子，一律带走
          -- 这就是你说的：rootId = 帖子ID, rootType = "POST"
            c.root_id = #{postId}
            AND c.root_type = 'POST'
        ORDER BY c.create_time ASC
    </select>
</mapper>