# --- 后端 (Spring Boot) ---
**/target/
**/*.class
**/*.iml
**/.idea/
**/bin/
**/out/
**/application.yaml

# --- 前端 (Vue 3) ---
**/node_modules/
**/dist/
**/.env.local
**/.vscode/
**/.history/
**/.cache/
**/dist-ssr/
**/*.local
# --- 系统文件 ---
.DS_Store
Thumbs.db